* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: aliceblue;
    padding: 25px;
    display:flexbox;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tweet{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.158);
}

img#profile_picture{
    border-radius: 50px;
}

.userinfo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.user_text{
    display: inline;
    margin-block-start: 0em;
    margin-block-end: 0em;
    flex-direction: column;
    height: fit-content;
}

.username{
    font-weight: normal;
    font-size: 14pt;
}

.at_user{
    color: rgb(90, 90, 90);
    font-size: 12pt;
    font-weight: lighter;
}

.tweetarea{
    width: auto;
    margin: auto;
    font-size: 12pt;
    resize: none;
    border: 0;
}

.tweetarea:focus{
    outline: none;
}

.interaction_icons{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

img#icons:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 1px 10px #00abee13, 0px 0px 1px 10px #00abee13 inset;
    color: #00ACEE;
    cursor:pointer;
}

.time{
    font-weight: lighter;
}

footer{
  position: fixed;
  margin-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

label#numbers{
    margin-left: 5px;
    margin-right: 50px;
}

.randomizer{
    font-size: 12pt;
    font-weight: bold;
    margin-left: auto;
    padding: 15px;
    border: 0;
    border-radius: 50px;
    background-color: #00ACEE;
    color: white;
    transition: 0.1s;
}

.randomizer:hover{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.212);
    background-color: white;
    color: #00ACEE;
    box-shadow: 0 0 0 2px #00ACEE inset;
    cursor:pointer;
}

