body{
    display:flexbox;
}
main{
    width: 500px;
    height: 500px;
}

img#profile_picture{
    border-radius: 50px;
}

.userinfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_text{
    display: inline;
    margin-block-start: 0em;
    margin-block-end: 0em;
    flex-direction: column;
    height: fit-content;
}
